<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<title>Sunil Prajapati</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="$unil Prajapati" />
		<meta name="keywords" content="Odoo Developer,Frontend-developer, Designer, Animation, Portfolio, Full Stack Developer" />
		<meta name="author" content="Sunil" />

		<link href="static/img/favicon.png" rel="icon">
		<link rel="stylesheet" href="static/css/reset.css" type="text/css">
		<link rel="stylesheet" href="static/css/bootstrap-grid.min.css" type="text/css">
		<link rel="stylesheet" href="static/css/animations.css" type="text/css">
		<link rel="stylesheet" href="static/css/perfect-scrollbar.css" type="text/css">
		<link rel="stylesheet" href="static/css/owl.carousel.css" type="text/css">
		<link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css">
		<link rel="stylesheet" href="static/css/main.css" type="text/css">

		<script src="js/modernizr.custom.js"></script>
	</head>

	<body>
		<!-- Animated Background -->
		<div class="lm-animated-bg" style="background-image: url(static/img/main_bg.png);"></div>
		<!-- /Animated Background -->

		<!-- Loading animation -->
		<div class="preloader">
			<div class="preloader-animation">
				<div class="preloader-spinner">
				</div>
			</div>
		</div>
		<!-- /Loading animation -->

		<div class="page">
			<div class="page-content">
				<header id="site_header" class="header mobile-menu-hide">
					<div class="header-content">
						<div class="header-photo">
							<img src="static/img/main_photo.jpg" alt="Alex Smith">
						</div>
						<div class="header-titles">
							<h2>Sunil Prajapati</h2>
							<h4>Odoo Developer</h4>
						</div>
					</div>

					<ul class="main-menu">
						<li class="active">
							<a href="#home" class="nav-anim">
								<span class="menu-icon lnr lnr-home"></span>
								<span class="link-text">Home</span>
							</a>
						</li>
						<li>
							<a href="#about-me" class="nav-anim">
								<span class="menu-icon lnr lnr-user"></span>
								<span class="link-text">About Me</span>
							</a>
						</li>
						<li>
							<a href="#resume" class="nav-anim">
								<span class="menu-icon lnr lnr-graduation-hat"></span>
								<span class="link-text">Resume</span>
							</a>
						</li>
						<li>
							<a href="#contact" class="nav-anim">
								<span class="menu-icon lnr lnr-envelope"></span>
								<span class="link-text">Contact</span>
							</a>
						</li>
					</ul>

					<div class="social-links">
						<ul>
							<li><a href="https://www.linkedin.com/in/sunil-prajapati-12a543206" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="https://github.com/thehacker0075" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a href="https://join.skype.com/invite/x7QqqQfGE1ZJ" target="_blank"><i class="fab fa-skype"></i></a></li>
						</ul>
					</div>

					<div class="header-buttons">
						<a href="#" target="_blank" class="btn btn-primary">Download CV</a>
					</div>
				</header>

				<!-- Mobile Navigation -->
				<div class="menu-toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<!-- End Mobile Navigation -->

				<!-- Arrows Nav -->
				<div class="lmpixels-arrows-nav">
					<div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
					<div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
				</div>
				<!-- End Arrows Nav -->

				<div class="content-area">
					<div class="animated-sections">
						<!-- Home Subpage -->
						<section data-id="home" class="animated-section start-page">
							<div class="section-content vcentered">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="title-block">
											<h2>Sunil Prajapati</h2>
											<div class="owl-carousel text-rotation">                                    
												<div class="item">
													<div class="sp-subtitle">Odoo Developer</div>
												</div>
												
												<div class="item">
													<div class="sp-subtitle">Full-Stack Developer</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End of Home Subpage -->

						<!-- About Me Subpage -->
						<section data-id="about-me" class="animated-section">
							<div class="page-title">
								<h2>About <span>Me</span></h2>
							</div>

							<div class="section-content">
								<!-- Personal Information -->
								<div class="row">
									<div class="col-xs-12 col-sm-7">
										<p>Experienced Python Developer with a demonstrated history of working in the information technology. Skilled in Python and Odoo framework, working experience in Odoo Implementation and Web Development and APIs. Also have knowledge of Javascript.</p>
									</div>

									<div class="col-xs-12 col-sm-5">
										<div class="info-list">
											<ul>
												<li>
													<span class="title">Age</span>
													<span class="value">22</span>
												</li>
												<li>
													<span class="title">Residence</span>
													<span class="value">India</span>
												</li>
												<li>
													<span class="title">Address</span>
													<span class="value">26, Radhesyam Soci., Mahadevnagar, Vastral, Ahmedabad</span>
												</li>
												<li>
													<span class="title">e-mail</span>
													<span class="value"><a href="mailto:sunilcprajapati2001@gmail.com" class="__cf_email__">sunilcprajapati2001@gmail.com</a></span>
												</li>
												<li>
													<span class="title">Phone</span>
													<span class="value">+91 7041733277</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End of Personal Information -->

								<div class="white-space-50"></div>

								<!-- Services -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="block-title">
											<h3>What <span>I Do</span></h3>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-inner">
											<div class="info-list-w-icon">
												<div class="info-block-w-icon">
													<div class="ci-icon">
														<i class="lnr lnr-store"></i>
													</div>
													<div class="ci-text">
														<h4>Ecommerce</h4>
														<p>With a comprehensive understanding of Odoo's eCommerce framework, including website building, product configuration, payment integration, and more, I bring a wealth of expertise to every project. From small-scale startups to enterprise-level ventures, I have the skills and experience to deliver results that drive growth and profitability.</p>
													</div>
												</div>
												<div class="info-block-w-icon">
													<div class="ci-icon">
														<i class="lnr lnr-laptop-phone"></i>
													</div><div class="ci-text">
														<h4>Web Design</h4>
														<p>With expertise in Odoo development, seamless integration of design skills with the powerful features of the Odoo platform is ensured. Whether it's building a website from scratch, customizing templates, or optimizing user interfaces, the focus remains on ensuring that Odoo-powered websites stand out in both form and function.</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6">
										<div class="col-inner">
											<div class="info-list-w-icon">
												<div class="info-block-w-icon">
													<div class="ci-icon">
														<i class="lnr lnr-pencil"></i>
													</div>
													<div class="ci-text">
														<h4>Point of Sale</h4>
														<p>With extensive experience in Odoo's POS module, including configuration, customization, and integration with other Odoo apps, I bring a wealth of expertise to the table. From mom-and-pop shops to large-scale enterprises, I have the knowledge and skills to tailor POS solutions that cater to diverse retail needs.</p>
													</div>
												</div>
												<div class="info-block-w-icon">
													<div class="ci-icon">
														<i class="lnr lnr-flag"></i>
													</div><div class="ci-text">
														<h4>Management</h4>
														<p>The importance of effective project management in ensuring the success of a project. With my proven track record in project management, I am confident in my ability to lead projects from inception to completion. I excel at coordinating teams, managing timelines, and delivering projects on time and within budget/</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End of Services -->

								<div class="white-space-30"></div>
							</div>
						</section>
						<!-- End of About Me Subpage -->

						<!-- Resume Subpage -->
						<section data-id="resume" class="animated-section">
							<div class="page-title">
								<h2>Resume</h2>
							</div>

							<div class="section-content">
								<div class="row">
									<div class="col-xs-12 col-sm-7">

										<div class="block-title">
											<h3>Education</h3>
										</div>
										
										<div class="timeline timeline-second-style clearfix">
											<div class="timeline-item clearfix">
												<div class="left-part">
													<h5 class="item-period">2022</h5>
													<span class="item-company">Sal College of Engineering</span>
												</div>
												<div class="divider"></div>
												<div class="right-part">
													<h4 class="item-title">Computer Engineering</h4>
													<p>7.78 CGPA</p>
												</div>
											</div>

											<div class="timeline-item clearfix">
												<div class="left-part">
													<h5 class="item-period">2018</h5>
													<span class="item-company">Sadhana Vidhyalaya</span>
												</div>
												<div class="divider"></div>
												<div class="right-part">
													<h4 class="item-title">GSEB (HSC)</h4>
													<p>60.00 %</p>
												</div>
											</div>
										</div>

										<div class="white-space-50"></div>

										<div class="block-title">
											<h3>Experience</h3>
										</div>

										<div class="timeline timeline-second-style clearfix">
											<div class="timeline-item clearfix">
												<div class="left-part">
													<h5 class="item-period">08/2022 - Current</h5>
													<span class="item-company">Warlock Technologies Pvt.Ltd</span>
												</div>
												<div class="divider"></div>
												<div class="right-part">
													<h4 class="item-title">Odoo Developer</h4>
													<p>As an Odoo Developer at My company, I play a key role in designing, developing, and implementing Odoo-based solutions to meet our company's business requirements. Collaborating closely with cross-functional teams, I analyze project requirements, customize Odoo modules, and ensure the successful delivery of high-quality solutions.</p>
												</div>
											</div>
										</div>

									</div>

									<!-- Skills & Certificates -->
									<div class="col-xs-12 col-sm-5">

										<!-- Coding Skills -->
										<div class="block-title">
											<h3><span>Skills</span></h3>
										</div>

										<div class="skills-info skills-second-style">

											<!-- Skill 4 -->
											<div class="skill clearfix">
												<h4>Odoo</h4>
												<div class="skill-value">70%</div>
											</div>
											<div class="skill-container skill-5">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 4 -->

											<!-- Skill 5 -->
											<div class="skill clearfix">
												<h4>Python</h4>
												<div class="skill-value">90%</div>
											</div>
											<div class="skill-container skill-5">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 5 -->

											<!-- Skill 6 -->
											<div class="skill clearfix">
												<h4>JavaScript</h4>
												<div class="skill-value">70%</div>
											</div>
											<div class="skill-container skill-6">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 6 -->
											
											<!-- Skill 7 -->
											<div class="skill clearfix">
												<h4>HTML/CSS</h4>
												<div class="skill-value">95%</div>
											</div>
											<div class="skill-container skill-7">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 7 -->
											
											<!-- Skill 8 -->
											<div class="skill clearfix">
												<h4>Postgressql</h4>
												<div class="skill-value">65%</div>
											</div>
											<div class="skill-container skill-8">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 8 -->

											<!-- Skill 9 -->
											<div class="skill clearfix">
												<h4>Rest APIs</h4>
												<div class="skill-value">60%</div>
											</div>
											<div class="skill-container skill-9">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 9 -->

											<!-- Skill 3 -->
											<div class="skill clearfix">
												<h4>Git</h4>
												<div class="skill-value">75%</div>
											</div>
											<div class="skill-container skill-5">
												<div class="skill-percentage"></div>
											</div>
											<!-- End of Skill 3 -->

										</div>
										<!-- End of Coding Skills -->

										<div class="white-space-10"></div>
									</div>
									<!-- End of Skills -->
								</div>

								<div class="white-space-50"></div>

								<!-- Projects -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<div class="block-title">
											<h3>Projects</h3>
										</div>
									</div>			
									<div class="timeline timeline-second-style clearfix">
										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Loon Delta</h5>
												<span class="item-company">US</span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>As an Odoo Developer in Version 14, I perfected custom sign-up approval workflows, integrated auto barcode generation, crafted bespoke mail templates, optimized add-to-cart functionality, implemented robust report validations, and led meticulous design efforts.</p>
											</div>
										</div>

										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Users Data</h5>
												<span class="item-company">US</span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>As an Odoo Developer in Version 15, I specialized in integrating APIs to retrieve user subscription data for purchased subscription products and developed a user-friendly view to display this information.</p>
											</div>
										</div>

										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Volu-Med</h5>
												<span class="item-company">Germany</span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>As an Odoo Developer in Version 16, I collaborated on a project tailored for a salon in Germany, focusing on translating Figma designs with animations into functional interfaces.</p>
											</div>
										</div>

										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Universal Air</h5>
												<span class="item-company">US</span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>In Version 16, I contributed to a project by implementing functionality to display stores on Google Maps and designing the product page for enhanced user experience.</p>
											</div>
										</div>

										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Bon Cafe</h5>
												<span class="item-company">Saudi Arabia</span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>In Version 16, I undertook additional tasks including the integration of custom buttons, automatic application of promotions, disabling specific combos, and the creation of receipts in both English and Arabic languages.</p>
											</div>
										</div>

										<div class="timeline-item clearfix">
											<div class="left-part">
												<h5 class="item-period">Modules Migration</h5>
												<span class="item-company"></span>
											</div>
											<div class="divider"></div>
											<div class="right-part">
												<p>In versions 14 through 17, I led the migration of our company's proprietary module, ensuring seamless transition and compatibility with each Odoo version's framework.</p>
											</div>
										</div>
									</div>
								</div>
								
								<!-- End of Projects -->
							</div>
						</section>
						<!-- End of Resume Subpage -->

						<!-- Contact Subpage -->
						<section data-id="contact" class="animated-section">
							<div class="page-title">
								<h2>Contact</h2>
							</div>

							<div class="section-content">

								<div class="row">
									<!-- Contact Info -->
									<div class="col-xs-12 col-sm-4">
										<div class="lm-info-block gray-default">
											<i class="lnr lnr-map-marker"></i>
											<h4>India</h4>
											<span class="lm-info-block-value"></span>
											<span class="lm-info-block-text"></span>
										</div>

										<div class="lm-info-block gray-default">
											<i class="lnr lnr-phone-handset"></i>
											<h4>+91 7041 733 277</h4>
											<span class="lm-info-block-value"></span>
											<span class="lm-info-block-text"></span>
										</div>

										<div class="lm-info-block gray-default">
											<i class="lnr lnr-envelope"></i>
											<h4><a href="mailto:sunilcprajapati2001@gmail.com" class="__cf_email__">sunilcprajapati2001<br/>@gmail.com</a></h4>
											<span class="lm-info-block-value"></span>
											<span class="lm-info-block-text"></span>
										</div>

									</div>
									<!-- End of Contact Info -->

									<!-- Contact Form -->
									<div class="col-xs-12 col-sm-8">
										<div id="map" class="map">
											<div class="lmpixels-map">
												<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1769.4965466287817!2d72.65344078498207!3d23.002085622673583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8649d6208a79%3A0x14b05f90af4721a4!2sTridev%20Park%20Society%2C%20Vastral%20Road%2C%20Opp.%20Surabhi%20Park%2C%20Mahadev%20Nagar%20Tekra%2C%20Ahmedabad%2C%20Gujarat%20382418!5e0!3m2!1sen!2sin!4v1708262594608!5m2!1sen!2sin"></iframe>
											</div>
										</div>
										<div class="block-title">
											<h3>Contact <span>Meeh</span></h3>
										</div>

										<form id="contact_forms" class="contact-form" action="{% url 'contact' %}" method="POST">
											{% csrf_token %}
											<div class="messages"></div>

											<div class="controls two-columns">
												<div class="fields clearfix">
													<div class="left-column">
														<div class="form-group form-group-with-icon">
															<input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Name is required.">
															<label>Full Name</label>
															<div class="form-control-border"></div>
															<div class="help-block with-errors"></div>
														</div>

														<div class="form-group form-group-with-icon">
															<input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">
															<label>Email Address</label>
															<div class="form-control-border"></div>
															<div class="help-block with-errors"></div>
														</div>

														<div class="form-group form-group-with-icon">
															<input id="form_subject" type="text" name="subject" class="form-control" placeholder="" required="required" data-error="Subject is required.">
															<label>Subject</label>
															<div class="form-control-border"></div>
															<div class="help-block with-errors"></div>
														</div>
													</div>
													<div class="right-column">
														<div class="form-group form-group-with-icon">
															<textarea id="form_message" name="message" class="form-control" placeholder="" rows="7" required="required" data-error="Please, leave me a message."></textarea>
															<label>Message</label>
															<div class="form-control-border"></div>
															<div class="help-block with-errors"></div>
														</div>
													</div>
												</div>

												<div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI" data-theme="dark"></div>
		
												<button type="submit" class="button">Send message</button>
											</div>
										</form>
									</div>
									<!-- End of Contact Form -->
								</div>

							</div>
						</section>
						<!-- End of Contact Subpage -->
					</div>
				</div>

			</div>
		</div>

		<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/modernizr.custom.js"></script>
		<script src="static/js/animating.js"></script>

		<script src="static/js/imagesloaded.pkgd.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>

		<script src='static/js/perfect-scrollbar.min.js'></script>
		<script src='static/js/jquery.shuffle.min.js'></script>
		<script src='static/js/masonry.pkgd.min.js'></script>
		<script src='static/js/owl.carousel.min.js'></script>
		<script src="static/js/jquery.magnific-popup.min.js"></script>

		<script src="static/js/validator.js"></script>
		<script src="static/js/main.js"></script>
		<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"85756df08fa43fd5","r":1,"version":"2024.2.0","token":"94b99c0576dc45bf9d669fb5e9256829"}' crossorigin="anonymous"></script>
	</body>
</html>
